# Copyright (c) 2024 Realtek Semiconductor Corp.
# SPDX-License-Identifier: Apache-2.0

config REALTEK_AMEBA_ZEPHYR_USB
	bool "RealTek Ameba Zephyr USB stack"
	default n
	depends on DT_HAS_REALTEK_AMEBA_USB_ENABLED
	help
	  This option enables the Realtek Ameba Zephyr USB stack.

if REALTEK_AMEBA_ZEPHYR_USB

# USB Mode selection
config USB_DEVICE_AMEBA
	bool "USB Device Mode"

config USB_HOST_AMEBA
	bool "USB Host Mode"

# Device Class selection
config USBD_CDC_ACM
	bool "CDC ACM device"
	depends on USB_DEVICE_AMEBA
	help
	  This option enables the Realtek Ameba Zephyr USB CDC ACM device.

config USBD_HID
	bool "HID device"
	depends on USB_DEVICE_AMEBA
	help
	  This option enables the Realtek Ameba Zephyr USB HID device.

config USBD_MSC
	bool "MSC device"
	depends on USB_DEVICE_AMEBA
	help
	  This option enables the Realtek Ameba Zephyr USB MSC device.

config USBD_MSC_RAM_DISK
	bool "MSC RAM disk"
	depends on USBD_MSC
	help
	  This option to use RAM as storage media.

config USBD_MSC_RAM_DISK_ZEPHYR_FATFS
	bool "Use RAM with fatfs"
	depends on USBD_MSC_RAM_DISK

config USBD_COMPOSITE
	bool "Composite device"
	depends on USB_DEVICE_AMEBA

config USBD_VENDOR
	bool "VENDOR device"
	depends on USB_DEVICE_AMEBA
	help
	  This option enables the Realtek Ameba Zephyr USB VENDOR device.

config USBD_DFU
	bool "DFU device"
	depends on USB_DEVICE_AMEBA
	help
	  This option enables the Realtek Ameba Zephyr USB DFU (Device Firmware Update) device.

# Composite Class selection
config USBD_COMPOSITE_CDC_ACM_HID
	bool "Composite CDC ACM + HID"
	depends on USBD_COMPOSITE

config USBD_COMPOSITE_CDC_ACM_MSC
	bool "Composite CDC ACM + MSC"
	depends on USBD_COMPOSITE

config COMP_MSC_RAM_DISK
	bool "Composite MSC RAM disk"
	depends on USBD_COMPOSITE_CDC_ACM_MSC
	help
	  This option to use RAM as storage media.

config COMP_MSC_RAM_DISK_ZEPHYR_FATFS
	bool "Use RAM with fatfs"
	depends on COMP_MSC_RAM_DISK

# Host Class selection
config USBH_CDC_ACM
	bool "CDC ACM host"
	depends on USB_HOST_AMEBA
	help
	  This option enables the Realtek Ameba Zephyr USB CDC ACM host.

config USBH_VENDOR
	bool "VENDOR host"
	depends on USB_HOST_AMEBA
	help
	  This option enables the Realtek Ameba Zephyr USB VENDOR host.

config USBH_UAC
	bool "UAC host"
	depends on USB_HOST_AMEBA
	help
	  This option enables the Realtek Ameba Zephyr USB UAC host.

config USBH_DFU
	bool "DFU host"
	depends on USB_HOST_AMEBA
	help
	  This option enables the Realtek Ameba Zephyr USB DFU (Device Firmware Update) host.

config USBH_COMPOSITE
	bool "Composite host"
	depends on USB_HOST_AMEBA

config USBH_COMPOSITE_HID_UAC
	bool "Composite HID + UAC"
	depends on USBH_COMPOSITE

config USBH_COMPOSITE_HID_UAC1
	bool "UAC 1.0"
	depends on USBH_COMPOSITE_HID_UAC

config USBH_UVC
	bool "UVC host"
	depends on USB_HOST_AMEBA
	help
	  This option enables the Realtek Ameba Zephyr USB UVC (USB Video Class) host.

config USBH_UVC_FRAME_BUF_SIZE
	int "UVC frame buffer size (bytes)"
	depends on USBH_UVC
	default 174080
	help
	  Size of each UVC video frame buffer in bytes (3 buffers are allocated).
	  For MJPEG 720p 30fps: avg ~41KB, recommend 125-170KB (default 174080).
	  Boards with limited SRAM (e.g. rtl8721f_evb 296KB) should reduce this;
	  40960 (40KB) works for VGA/QVGA capture with hardware decode.
	  For 720p on rtl8721f_evb with hardware decode, enable PSRAM and use 174080.

endif # REALTEK_AMEBA_ZEPHYR_USB
